{% extends "base.html" %}
{% block title %}New Task{% endblock %}
{% block content %}
<div align="center">
    <form method="POST">
    <h1>Task</h1>
    <h4>Begin(mm/dd/yyyy)</h4>
    <input type="date" id="begin" name="begin">
    <br/>
    <br/>
    <h4>End(mm/dd/yyyy)</h4>
    <input type="date" id="end" name="end">
    <br/>
    <br/>
    <br/>
    <div>
        <!-- <form method="POST"> -->
            <textarea name="text" id="text" class="form-control"></textarea>
            <br />
            <div align="center">
              <button type="submit" class="btn btn-lg btn-primary">Create task</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}