{% extends "base.html" %}
{% block title %}Join Group{% endblock %}
{% block content %}
<div align="center">
    <h1>Join Group</h1>
    <form method="POST">
        <div>
        </div>
        <div>
          <!-- <textarea name="text" id="text" class="form-control"></textarea> -->
          <input type="text" class="form-control" id="text" name="text" placeholder="Enter group name.">
            <br />
              <!-- <div align="center"> -->
                <button type="submit" class="btn btn-lg btn-primary">Join</button>
              <!-- </div> -->
      </form>
</div>
{% endblock %}